@font-face {
  font-family: Outfit;
  src: url("./Outfit-VariableFont_wght.ttf")
}

body {
    margin: 0 auto;
    font-family: Outfit;
    font-size: 20px;

    
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    text-align: center;
    display: block;
}

.title {
    font-size: 36px;
    margin-top: 20px;
    width: 90%;

    color: #363636;
    font-weight:800;
    
    
}

.author {
    width: 95%;
    max-width: 300px;
    font-size: 24px;

    
}

.affiliation {
    font-size: 24px;
    width: 95%;
    max-width: 450px;
}

.links {
    font-size: 24px;
    width: 95%;
    max-width: 150px;
}

.teaser {
    width: 100%;
    max-width: 800px;
}

.teaser img {
    width: 100%;
    max-width: 800px;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    padding-top: 45%; /* Formula for 16:9 Aspect Ratio: width * 9 / 16 */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.paper-thumbnail {
    margin: 0 auto;
    width: 40%;
    max-width: 250px;
    display: inline-block;
    vertical-align: top;
    padding: 2% 10% 4% 0;
}

.paper-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 999px) {
    .paper-thumbnail {
        width: 60%;
    }

    .paper-info {
        width: 80%;
    }
}


p {
    width: 80%;
    text-align: center;
    margin: 0 auto;

    color: #494949;
    font-weight: 500;
    line-height: 1.4
    ;
}

h1 {
    font-weight: 300;
    text-align: center;

    color: #535353;

    font-weight: 600;
}

h2 {
    text-align: center;
}

h4 {
    text-align: left;
    color: #515151;
}

h5 {
    text-align: left;
    color: #515151;
}

div {
    display: inline-block;
}

hr {
    border-top: 2px solid #818181;
    width: 100%;
}

pre {
    overflow-x: auto;
    text-align: left;
    border: 1px solid grey;
    border-radius: 3px;
    background: #eeeeee;
    padding: 5px 5px 5px 10px;
    line-height: 1.2;
    white-space: pre-wrap;
}

pre code {
    text-align: left;
    word-wrap: normal;
    white-space: pre-wrap;
    font-size: 16px;
}

a:link, a:visited {
    color: #8D0016;
    text-decoration: none;
}

a:hover {
    color: #FF1447;
}

.layered-paper-big {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
            0px 0px 1px 1px rgba(0,0,0,0.35), /* The top layer shadow */
            5px 5px 0 0px #fff, /* The second layer */
            5px 5px 1px 1px rgba(0,0,0,0.35), /* The second layer shadow */
            10px 10px 0 0px #fff, /* The third layer */
            10px 10px 1px 1px rgba(0,0,0,0.35), /* The third layer shadow */
            15px 15px 0 0px #fff, /* The fourth layer */
            15px 15px 1px 1px rgba(0,0,0,0.35), /* The fourth layer shadow */
            20px 20px 0 0px #fff, /* The fifth layer */
            20px 20px 1px 1px rgba(0,0,0,0.35), /* The fifth layer shadow */
            25px 25px 0 0px #fff, /* The sixth layer */
            25px 25px 1px 1px rgba(0,0,0,0.35); /* The sixth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}


.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}


.modal-background {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .button,
  .file-cta,
  .file-name,
  .input,
  .pagination-ellipsis,
  .pagination-link,
  .pagination-next,
  .pagination-previous,
  .select select,
  .textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    position: relative;
    vertical-align: top;
  }
  
  textarea {
    margin: 0;
  }
  
  
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  .button {

    margin-right: 40px; 
  }
  

strong {
    color: #363636;
    font-weight: 700;
  }
  
 
  fieldset {
    border: none;
  }
  

  pre {
    -webkit-overflow-scrolling: touch;
    background-color: #f5f5f5;
    color: #4a4a4a;
    font-size: .875em;
    overflow-x: auto;
    padding: 1.25rem 1.5rem;
    white-space: pre;
    word-wrap: normal;
  }
  
  
  pre code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }
  
 
  table td,
  table th {
    color: inherit;
  }
  

  .button .icon,
  .button .icon.is-large,
  .button .icon.is-medium,
  .button .icon.is-small {
    height: 1.5em;
    width: 1.5em;
  }
  
 
  .button .icon:first-child:not(:last-child) {
    margin-left: calc(-.5em - 1px);
    margin-right: .25em;
  }
  
  .button .icon:last-child:not(:first-child) {
    margin-left: .25em;
    margin-right: calc(-.5em - 1px);
  }

  .button .button.is-light.is-loading::after {
    border-color: transparent transparent rgba(0, 0, 0, .7) rgba(0, 0, 0, .7)!important;
  }
  
 
  .button.is-light.is-outlined {
    background-color: transparent;
    border-color: #f5f5f5;
    color: #f5f5f5;
  }
  
  .button.is-light.is-outlined.is-focused {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .7);
    box-shadow: none;
    color: rgba(0, 0, 0, .7);
  }
  

  .button.is-dark {
    background-color: #363636;
    border-color: transparent;
    color: #fff;
  }
  

  button.is-static {
    background-color: #f5f5f5;
    border-color: #dbdbdb;
    color: #7a7a7a;
    box-shadow: none;
    pointer-events: none;
  }
  

  .button.is-rounded {
    border-radius: 290486px;
    padding-left: calc(1em + .25em);
    padding-right: calc(1em + .25em);
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  


  
  #bg{
    /* background-image: url("./bg1.png"); */
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: scroll;
    padding: 0 100px;


    box-sizing: border-box; 


  }

  .imageshow6{
    #slider {
      max-width: 100%; 
      height: auto;
      overflow: hidden;
      position: relative;
    }
    
    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 600%; 
    }
    
    .slide {
      width: 16.666%; 
      transition: transform 0.5s ease-in-out;
    }
  
    img {
      width: 100%;
      height: auto; 
    }
    
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
      background-color: #fff;
      color: #464646;
      border: none;
      cursor: pointer;
      z-index: 1;
      border-radius: 50%; 
      width: 20px; 
      height: 20px; 
      display: flex;
      align-items: center;
      justify-content: center;

      
      transition: transform 0.3s; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    

    button:hover {
      transform: translateY(-50%) scale(1.2);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }


    #prev {
      left: 0;
    }
    
    #next {
      right: 0;
    }
    
  }

  .imageshow3{
    #slider1 {
      max-width: 100%;
      height: auto; 
      overflow: hidden;
      position: relative;
    }
    
    .slides1 {
      display: flex;
      transition: transform 0.5s ease-in-out;
      width: 300%;
    }
    
    .slide1 {
      width: 33.333%; 
      transition: transform 0.5s ease-in-out;
    }
  
    img {
      width: 100%; 
      height: auto; 
    }
    
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px;
      background-color: #fff;
      color: #464646;
      border: none;
      cursor: pointer;
      z-index: 1;
      border-radius: 50%; 
      width: 20px; 
      height: 20px; 
      display: flex;
      align-items: center;
      justify-content: center;

      
      transition: transform 0.3s; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    

    button:hover {
      transform: translateY(-50%) scale(1.2);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    #prev1 {
      left: 0;
    }
    
    #next1 {
      right: 0;
    }
  }

